<div class="container" id="sign-up-form">
  <div class="row">
    <h1>Add new feed</h1>
    <h3>listen, study, accomplish goals</h3>

    <div class="col-sm-offset-4 col-sm-4">
        <%= bootstrap_form_for(@feed) do |f| %>

        <%= f.text_field :title,
                         placeholder: 'Feed title',
                         class: 'form-control' %>
        <%= f.text_field :link,
                         placeholder: 'link',
                         class: 'form-control' %>
        <%= f.text_field :img_link,
                         placeholder: 'img_link',
                         class: 'form-control' %>
        <%= f.submit 'Create!', class: 'btn sign-up-button' %>
      <% end %>

    </div>
  </div>
</div>
